<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="midnight.quizapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="midnight.quizapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="midnight.quizapp.permission.C2D_MESSAGE" />

    <application
        android:name=".ParseStart"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="midnight.quizapp" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Result"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Cancelled"
            android:label="@string/title_activity_cancelled"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".PostsList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PostsList"
            android:label="@string/title_activity_posts_list"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpcomingTest"
            android:label="@string/title_activity_upcoming_test"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="midnight.quizapp.MainMenu" />
        </activity>
        <activity
            android:name=".Marks"
            android:label="@string/title_activity_marks"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="midnight.quizapp.MainMenu" />
        </activity>
        <activity
            android:name=".Error"
            android:label="@string/title_activity_error" >
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="midnight.quizapp.MainMenu" />
        </activity>
    </application>

</manifest>
